<!-- <p-picklist
    [source]="unSelectedColumns()"
    [target]="selectedColumns()"
    [dragdrop]="true"
    [responsive]="true"
    targetHeader="Visible Columns"
    sourceHeader="Hidden Columns"
    [sourceStyle]="{ height: '10rem' }"
    [targetStyle]="{ height: '10rem' }"
    breakpoint="540px"
    scrollHeight="20rem"
    filterBy="label"
>
    <ng-template let-option let-selected="selected" pTemplate="sourceHeader">
        <h4 class="text-lg">Hidden Columns</h4>
    </ng-template>
    <ng-template let-option let-selected="selected" pTemplate="targetHeader">
        <h4 class="text-lg">Visible Columns</h4>
    </ng-template>
    <ng-template let-option let-selected="selected" pTemplate="option">
        {{ option.label }}
    </ng-template>
</p-picklist> -->
<div cdkDropListGroup class="flex flex-wrap justify-center gap-8">
    <div class="example-container">
        <h2>{{ "Visible Columns" | translate }}</h2>
        <div
            cdkDropList
            [cdkDropListData]="selectedColumns()"
            class="flex flex-col h-96 max-h-96 overflow-y-scroll border-dashed border-2 border-surface-primary gap-4 p-4 rounded-lg"
            (cdkDropListDropped)="drop($event)"
        >
            @for (item of selectedColumns(); track item) {
                <div cdkDrag>
                    <p-button [label]="item.label | translate" fluid />
                </div>
            }
        </div>
    </div>

    <div class="example-container">
        <h2>{{ "Hidden Columns" | translate }}</h2>
        <div
            cdkDropList
            [cdkDropListData]="unSelectedColumns()"
            class="flex flex-col h-96 max-h-96 overflow-y-scroll border-dashed border-2 border-surface-primary gap-4 p-4 rounded-lg"
            (cdkDropListDropped)="drop($event)"
        >
            @for (item of unSelectedColumns(); track item) {
                <div cdkDrag>
                    <p-button [label]="item.label | translate" fluid />
                </div>
            }
        </div>
    </div>
</div>
