<!-- <button class="bg-white dark:bg-gray-800 space-x-4 text-center px-6 py-2 rounded-full relative text-black dark:text-gray-200 text-xl font-semibold group" type="button" (click)="OnClick()">
    <div class="rounded-full h-10 w-1/4 flex items-center justify-center absolute left-1 top-[4px] group-hover:w-[119px] z-10 duration-500" [style.background]="'var(--primary-color)'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" height="20px" width="20px">
            <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" fill="#fff"></path>
            <path d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z" fill="#fff"></path>
        </svg>
    </div>
    <p class="translate-x-2 mt-0.5">Go Back</p>
</button> -->
<button
    class="bg-white dark:bg-gray-800 space-x-4 text-center px-6 py-2 rounded-full relative text-black dark:text-gray-200 text-xl font-semibold group"
    type="button"
    (click)="OnClick()"
>
    <div
        class="rounded-full h-10 w-1/4 flex items-center justify-center absolute left-1 top-[4px] group-hover:w-[119px] z-10 duration-500"
        [style.background]="'var(--primary-color)'"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1024 1024"
            height="20px"
            width="20px"
        >
            <path
                d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
                fill="#fff"
            ></path>
            <path
                d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
                fill="#fff"
            ></path>
        </svg>
    </div>
    <p class="translate-x-2 mt-0.5">Go Back</p>
</button>
